.btn-spin{
    font-size: 2.65rem;
    width: 294.8px;
    height: 106.4px;
    background-color: rgba(252, 226, 53, 1);
    border-radius: 84.8px;
    padding: 21.2px 42.4px 21.2px 42.4px;
    -webkit-box-shadow: 0px 0px 19px 9px rgba(252,226,53,0.96); 
    box-shadow: 0px 0px 19px 9px rgba(252,226,53,0.96);
}

.select-propfirm{
    color: #000000;
}