<section id="discount">
    <div class="container-flex title">
        <h1>Discount Codes</h1>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
    </div>

    <div class="container-fluid bg-glass">
        <!-- Card 3 traders -->
        <div class="container">
            <h2 class="text-white">Today's Popular Deals</h2>
            <div class="row align-items-center">
                <div class="col">
                    <div class="card border-light-subtle" style="width: 18rem;">
                        <img src="assets/img/discount/broker1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title text-white fs-5">Funding Traders</h6>
                            <p class="card-text">35% off + Free Account of the Same Size if Reaching Payout - all
                                challenges</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-light-subtle" style="width: 18rem;">
                        <img src="assets/img/discount/broker2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">The 5%ers</h5>
                            <p class="card-text">35% off + Free Account of the Same Size if Reaching Payout - all
                                challenges</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-light-subtle" style="width: 18rem;">
                        <img src="assets/img/discount/broker3.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">The 5%ers</h5>
                            <p class="card-text">35% off + Free Account of the Same Size if Reaching Payout - all
                                challenges</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid p-lg-5">
       
        <div class="container text-left">
            <h2 class="text-white pb-3">Our Favorites</h2>
            <div class="row">
                <div class="col-2 col-sm-2 text-center">
                    <img src="assets/img/discount/broker100.png" class="card-img-top" alt="...">
                    <span class="text-light">5 offers</span>
                </div>
                <div class="col-2 col-sm-2 text-center">
                    <img src="assets/img/discount/broker100.png" class="card-img-top" alt="...">
                    <span class="text-light">5 offers</span>
                </div>
                <div class="col-2 col-sm-2 text-center">
                    <img src="assets/img/discount/broker100.png" class="card-img-top" alt="...">
                    <span class="text-light">5 offers</span>
                </div>
                <div class="col-2 col-sm-2 text-center">
                    <img src="assets/img/discount/broker100.png" class="card-img-top" alt="...">
                    <span class="text-light">5 offers</span>
                </div>
                <div class="col-2 col-sm-2 text-center">
                    <img src="assets/img/discount/broker100.png" class="card-img-top" alt="...">
                    <span class="text-light">5 offers</span>
                </div>
                <div class="col-2 col-sm-2 text-center">
                    <img src="assets/img/discount/broker100.png" class="card-img-top" alt="...">
                    <span class="text-light">5 offers</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid p-lg-5">
        <div class="container text-left">
            <h2 class="text-white pb-3">Our Favorites</h2>
            <div class="row row-gradient">
                <!-- logo / name -->
                <div class="col-2 col-sm-2 align-items-center justify-content-center d-flex flex-column">
                    <img src="assets/img/discount/broker100.png" width="40px" class="img-top" alt="...">
                    <h4 class="text-white fs-5 text-center pt-3">Funding Traders</h4>
                </div>
                <!-- % discount -->
                <div class="col-1 col-sm-1 align-items-center justify-content-center d-flex flex-column">
                    <span class="discountNumber">8%</span>
                    <span class="discountText">OFF</span>
                </div>
                <!-- description -->
                <div class="col-7 col-sm-7 text-left">
                    <h3 class="text-white fw-semibold"> 35% off + Free Account of the Same Size if Reaching Payout - all challenges</h3>
                    <span class="text-light fs-6">Redeem this promo code at Trip.com for 8% off all hotel purchases for new customers only. 1 usage per customer.</span>
                </div>
                <!-- Button -->
                <div class="col-2 col-sm-2 align-items-center justify-content-center d-flex flex-column">
                    <button class="btn btn-light">Coupon</button>
                </div>
            </div>
            <div class="space-medium"></div>
            <div class="row row-gradient">
                <!-- logo / name -->
                <div class="col-2 col-sm-2 align-items-center justify-content-center d-flex flex-column">
                    <img src="assets/img/discount/broker100.png" width="40px" class="img-top" alt="...">
                    <h4 class="text-white fs-5 text-center pt-3">Funding Traders</h4>
                </div>
                <!-- % discount -->
                <div class="col-1 col-sm-1 align-items-center justify-content-center d-flex flex-column">
                    <span class="discountNumber">8%</span>
                    <span class="discountText">OFF</span>
                </div>
                <!-- description -->
                <div class="col-7 col-sm-7 text-left">
                    <h3 class="text-white fw-semibold"> 35% off + Free Account of the Same Size if Reaching Payout - all challenges</h3>
                    <span class="text-light fs-6">Redeem this promo code at Trip.com for 8% off all hotel purchases for new customers only. 1 usage per customer.</span>
                </div>
                <!-- Button -->
                <div class="col-2 col-sm-2 align-items-center justify-content-center d-flex flex-column">
                    <button class="btn btn-light">Coupon</button>
                </div>
            </div>
            <div class="space-medium"></div>
            <div class="row row-gradient">
                <!-- logo / name -->
                <div class="col-2 col-sm-2 align-items-center justify-content-center d-flex flex-column">
                    <img src="assets/img/discount/broker100.png" width="40px" class="img-top" alt="...">
                    <h4 class="text-white fs-5 text-center pt-3">Funding Traders</h4>
                </div>
                <!-- % discount -->
                <div class="col-1 col-sm-1 align-items-center justify-content-center d-flex flex-column">
                    <span class="discountNumber">8%</span>
                    <span class="discountText">OFF</span>
                </div>
                <!-- description -->
                <div class="col-7 col-sm-7 text-left">
                    <h3 class="text-white fw-semibold"> 35% off + Free Account of the Same Size if Reaching Payout - all challenges</h3>
                    <span class="text-light fs-6">Redeem this promo code at Trip.com for 8% off all hotel purchases for new customers only. 1 usage per customer.</span>
                </div>
                <!-- Button -->
                <div class="col-2 col-sm-2 align-items-center justify-content-center d-flex flex-column">
                    <button class="btn btn-light">Coupon</button>
                </div>
            </div>
            <div class="space-large"></div>
        </div>
    </div>

    

</section>