<section id="compare">
    <div class="container-flex title">
        <h1>Compare Prop firms</h1>
    </div>

    <!-- add Compare -->
    <div class="col d-flex pt-5">
        <div class="col-6 d-flex flex-column align-items-center border-end">
            <span class="add-prop"><i class="fa-regular fa-plus"></i></span>
            <p class="mt-2">Add Propfirm</p>
        </div>
        <div class="col-6 d-flex flex-column align-items-center border-start">
            <span class="add-prop"><i class="fa-regular fa-plus"></i></span>
            <p class="mt-2">Add Propfirm</p>
        </div>
    </div>

    <!-- Result Compare -->

    <div class="col d-flex pt-5">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">.</th>
                <th scope="col">
                    <div class="d-flex align-items-center flex-column">
                        <img class="img-propfirm" src="/assets/img/reviews/ranking52x52.png" alt="">
                        <h4 class="title-propfim">Funding Traders</h4>
                        <span class="datatitle">Last update:
                        <span class="data"> 11/04/2024</span></span>
                    </div>
                </th>
                <th scope="col">
                    <div class="d-flex align-items-center flex-column">
                        <img class="img-propfirm" src="/assets/img/reviews/Frame64.png" alt="">
                        <h4 class="title-propfim">Funding Traders</h4>
                        <span class="datatitle">Last update:
                        <span class="data"> 11/04/2024</span></span>
                    </div>
                </th>
              </tr>
            </thead>
            <tbody class="table-compare">
              <tr>
                <td class="features">Available models</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="features">Account sizes</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="features">Technlogy</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                  <td class="features">Daily drowdown</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                    <<td class="features">Rules</td>
                    <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="features">Rules2</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="features">Trust Score</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col pt-5">
      <h2 class="title-veredict">Our Verdict</h2>
      <p>Lorem ipsum dolor sit amet consectetur. Et leo vitae dignissim viverra commodo velit quis. Metus cursus amet odio consectetur volutpat arcu quis posuere vehicula. Urna augue neque aliquam pharetra nisl pretium nisl est. Nisl velit consectetur ut a eget ornare nibh bibendum lorem. Pellentesque amet varius sed feugiat at tristique justo. Aliquam quis ridiculus lectus elementum. Nisl rutrum eu amet tincidunt molestie rhoncus. Neque elit mi vitae sit non diam felis quis massa. Velit dictum velit erat sed vel. Fermentum scelerisque arcu viverra in. Vulputate ut euismod enim elit fames congue non. Nunc aliquam vel quam arcu arcu. Adipiscing adipiscing magna eget cursus orci odio amet. Neque tellus vitae amet hendrerit ut ullamcorper ut egestas vel. Massa bibendum imperdiet varius nec convallis platea facilisis odio euismod. Cursus augue rutrum consequat ac mauris aliquet at nulla. Suspendisse eget iaculis interdum donec vel viverra sit viverra quam.</p>
    </div>
    <span class="p-5"></span>

</section>