<section id="news">
    <div class="container-flex title">
        <h1>News</h1>
        <p class="text-white subtitle">Subscribe to our newsletter and join us!</p>
    </div>
    <!-- Form newsletter -->
    <div class="container bg-glass">
        <div class="container w-50">
            <app-newsletter />
        </div>
    </div>
    <!-- Grid news -->
    <div class="container mt-5 w-100">
        <div class="row ">
            <!-- first Block news -->
            <div class="col-6 height-news"
                style="background-image: url('https://s3-alpha-sig.figma.com/img/c6c7/edf2/58fb3d6d03a27d51a994aa541cfdc2dc?Expires=1717372800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=BxFEnbpY4ALyObkYxaAKrZAegLEot18KfV5EX0h66pOdCjBZdFZHLxUHpjwEaq3vPAW3wqFqQ-qeEKh43mOPYMa3AOg~yyEeIeneBtCP7ibGUpOg~pzkJDVMbSj5fnmGuSH6By-2EyrXIP2XrE80gtIK3KT95WrxOS~HH7n~EqAD6GHW3zELGVeIrYuU5tJuOThIv3zozvtMNVP~GtptjtFBhI6tQKp3vIgxtbQEpW3n~BNsYtQIaKa0YiIdVYZHD~9q5zl5qfNWKm4MbNBOn4fnSpxlgaWTgH~O~RXNjVALFBzfEc0tPJOV8N~3fuxRR6~6Ywr1uF1B0H-K-WYKzw__')">
                <div class="content-container">
                    <div class="d-flex justify-content-end">
                        <span class="data-pub">4 April, 2024</span>
                    </div>
                    <h2 class="text-center title-news">Blockchain silver price forecast: xag/usd pulls</h2>
                </div>
            </div>
            <!-- Second Block news -->
            <div class="col-6">
                <div class="container">
                    <div class="row row-cols-2">
                        <div class="col-6 p-0 m-0">
                            <div class="content-container-right height-news-top ms-1 mb-1"
                                style="background-image: url('https://s3-alpha-sig.figma.com/img/f74e/a8b6/a71900367359c1569cde93ffe6ba6ed4?Expires=1717372800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=kItjRjthbj1axBLyDyE7FqWzKduCyWKFsBv0tmls1IkXNr44x1FTHJmD4EIAMTeKQxNWFgwUMPTL0bFuQr54Ubxr1ipYDZDXkkKBw1wzvHGgKJHyH9d~Q997rOJGnD~QDi9p6sjFWqlS9Tp~qu2rpn6ZFFBi5jn0D-9qJqBUHuYEpYJ~Sl6rESSWYe1LGdsg3VZswlqeRsnu6w3LIPXxWIuKVPPVLCCbmy7B9c-uUn4u4KJrao3I9e76G-k~aHDrfa9CLrEDePzgRiMIB8tQmPJMPLPJDop3~fiGMSdM~cF746mQUr50PjCBqi~nsxNNt0FSSwAtObI17puRTr4gbg__')">
                                <div class="d-flex justify-content-end">
                                    <span class="data-pub">4 April, 2024</span>
                                </div>
                                <h2 class="text-center title-news2">Forex News – autoupdate every 20 minutes! AMarkets
                                    Online Forex broker</h2>
                            </div>
                        </div>
                        <div class="col-6 p-0 m-0">
                            <div class="content-container-right height-news-top ms-2 mb-1"
                            style="background-image: url('https://s3-alpha-sig.figma.com/img/1f44/9e8c/cdeabdd20361c8ae79ceaa63adab474a?Expires=1717372800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=KfbGZ1J3IYEbygG4or~WSg75VzIGZG-vMjvlGnfHhcS56smuAme29RFpnggGHgUoNa0YvHE65OjAyVZTrcb3O6t4cF3Z5xJm2b3j2eRtbNfL9AOAJ9hXTO9j46KDYwgrS0GxIRdp26obYEWTJoxqD-T8vuwmPGai0T8~JnM~JHYhms3BPbEvFEMxtraHsBiTvRgGcKmCFI1nPSx~SwoUcI90gIVtcf2FjoXIOH~gWka~PFFCF8IchtbhX8mxiw-bGrNE7~I4EvKFhWBT-4p0yYCxaIfF6ErqM22hGUa~lBeCBqRHHFB2Nkdtw4H8~pJRrL-ZXhJiCr3DTh6o3jFy-Q__')">
                                <div class="d-flex justify-content-end">
                                    <span class="data-pub">4 April, 2024</span>
                                </div>
                                <h2 class="text-center title-news2">Forex News – autoupdate every 20 minutes! AMarkets
                                    Online Forex broker</h2>
                            </div>
                        </div>
                        <div class="col-6 p-0 m-0">
                            <div class="content-container-right height-news-bottom ms-1"
                            style="background-image: url('https://s3-alpha-sig.figma.com/img/4c4c/8b0e/277ba96cae8f7a84953e75bfdbd3b049?Expires=1717372800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=R6IMrj1dxdQVtY1-BLd55gTOm0wlju9tApQhrfeTVyI2gz2AmM8dy0VDBwFNjlVbrGGa5D8RNleS9fl7sq6Rmw-3Q2L0XWj235JfrDGNilV~yR1ymrdTXZIfFjzJ6KUS-6t5rUHR4d0Ss0~MkrywnjtUDUwBYlBy8S9~3IqP9N0rprrwfHtgmVTgLakn81TUAFEWPZor7Qkkva0x0mk3nahjNo2nrXncEOOXixdGPO-ImeT-XDV~VDERdJiI8NvxuU4iDT~TZ4X6mkiuG~-SuCHj8Yxh4Gow~rynSM7448ldFLn53FM-jBA96PALFAJlEgNMtquD3fYgzUU1c-bsrA__')">
                                <div class="d-flex justify-content-end">
                                    <span class="data-pub">4 April, 2024</span>
                                </div>
                                <h2 class="text-center title-news2">Forex News – autoupdate every 20 minutes! AMarkets
                                    Online Forex broker</h2>
                            </div>
                        </div>
                        <div class="col-6 p-0 m-0">
                            <div class="content-container-right height-news-bottom ms-2"
                            style="background-image: url('https://s3-alpha-sig.figma.com/img/f74e/a8b6/a71900367359c1569cde93ffe6ba6ed4?Expires=1717372800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=kItjRjthbj1axBLyDyE7FqWzKduCyWKFsBv0tmls1IkXNr44x1FTHJmD4EIAMTeKQxNWFgwUMPTL0bFuQr54Ubxr1ipYDZDXkkKBw1wzvHGgKJHyH9d~Q997rOJGnD~QDi9p6sjFWqlS9Tp~qu2rpn6ZFFBi5jn0D-9qJqBUHuYEpYJ~Sl6rESSWYe1LGdsg3VZswlqeRsnu6w3LIPXxWIuKVPPVLCCbmy7B9c-uUn4u4KJrao3I9e76G-k~aHDrfa9CLrEDePzgRiMIB8tQmPJMPLPJDop3~fiGMSdM~cF746mQUr50PjCBqi~nsxNNt0FSSwAtObI17puRTr4gbg__')">
                                <div class="d-flex justify-content-end">
                                    <span class="data-pub">4 April, 2024</span>
                                </div>
                                <h2 class="text-center title-news2">Forex News – autoupdate every 20 minutes! AMarkets
                                    Online Forex broker</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Card News 1-->
    <div class="container p-0">
    <div class="card mt-4">
        <div class="row g-0 p-3">
            <div class="col-md-3">
                <img class="img-fluid rounded-2" src="/assets/img/image19.png" alt="...">
            </div>
            <div class="col-md-9">
                <div class="col m-3 ms-0">
                    <span class="info-news">45 minutes</span>
                    <span class="info-news"><i class="far fa-comment"></i>0</span>
                    <span class="info-news"><i class="far fa-eye"></i>373</span>
                </div>
                <div class="card-body">
                    <h2 class="card-title title-news">Crypto Fund Trader New Partnership with OKX: Era of Efficiency!</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur. Aenean pretium nisl vitae nullam donec sagittis suscipit. Facilisis convallis dictumst neque nullam non. Porttitor adipiscing tincidunt magna.</p>
                </div>
                <div class="card-btn d-flex justify-content-end mt-3">
                    <button class="btn btn-light rounded-5">Read More</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Card News 2-->
    <div class="card mt-4 mb">
        <div class="row g-0 p-3">
            <div class="col-md-3">
                <img class="img-fluid rounded-2" src="/assets/img/Frame125.png" alt="...">
            </div>
            <div class="col-md-9">
                <div class="col m-3 ms-0">
                    <span class="info-news">45 minutes</span>
                    <span class="info-news"><i class="far fa-comment"></i>0</span>
                    <span class="info-news"><i class="far fa-eye"></i>373</span>
                </div>
                <div class="card-body">
                    <h2 class="card-title title-news">Crypto Fund Trader New Partnership with OKX: Era of Efficiency!</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur. Aenean pretium nisl vitae nullam donec sagittis suscipit. Facilisis convallis dictumst neque nullam non. Porttitor adipiscing tincidunt magna.</p>
                </div>
                <div class="card-btn d-flex justify-content-end mt-3">
                    <button class="btn btn-light rounded-5">Read More</button>
                </div>
            </div>
        </div>
    </div>
</div>
</section>