<section id="singup">
    <div class="container-flex">
        <div class="row vh-100">
            <div class="col bg-singup-left">

            </div>
            <div class="col bg-singup">
                <img src="./assets/img/header/logo_ranking.png" alt="logo">
                <h1 class="text-white fw-500 mt-5">Register</h1>
                <p class="fw-light text-white-50">Lorem ipsum dolor sit amet</p>
                <!-- Form Register -->
                <app-form-singup></app-form-singup>
            </div>
        </div>
    </div>
</section>