.bg-singup-left{
    background: -webkit-linear-gradient(90deg, #011a26 20%,#094f46);           
    background: linear-gradient(90deg, #011a26 20%,#094f46);
}
.bg-singup{
    background-color: #1f6955;
    padding: 100px 50px;
}

