#home{
    margin-top: 80px;
}
.vh-100 {
    width: 25%;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 90px);
    box-shadow: 5px 0 15px #0000004d;
    position: fixed;
    top: 90px;
    bottom: 0;
    left: 0;
}

.cont-search {
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 5px;
    padding: 15px;

    .btn-search {
        background-color: rgba(255, 255, 255, 0.1);
        width: 100%;
        padding: 10px 15px;
        background-color: #fff;
        border-radius: 25px;
        color: #004d52
    }

}

.filters {
    height: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: .875rem;
    overflow-y: auto;

    .input-group input {
        color: #fff;
        background-color: transparent;
        border-radius: 5px;
        padding: 6px 12px 6px 12px;
        
        border-left: none;
    }
    
    .input-group input::placeholder{
        color: #a3a3a3b8;
        font-size: .875rem;
    }
    
    .fas{
        border: solid 1px #fff;
        border-right: none;
        border-radius: 5px;
        padding: 11px;
        color:#ffffff80;
    }

    label {
        color: #fff;
        font-family: Poppins;
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        text-align: left;
    }

    .form-select {
        padding: 10px 12px 10px 12px;
        gap: 0px;
        border-radius: 6px;
        background-color: transparent;
        border: solid 1px #ffffff80;
        font-size: .8em;
        color: #fff;
    }

    .filter-group{
        margin: 10px 0px;
    }
    .filter-group label{
        margin-bottom: 10px;
    }

    // Filter Price 
    /* Estilos para la barra de desplazamiento (Filtro Precio) */
    input[type="range"]#price::-webkit-slider-runnable-track {
        background: linear-gradient(90deg, rgba(55, 142, 119, 1) 0%, rgba(0, 32, 51, 1) 65.96%);
    }
    /* Estilos para el control deslizante */
    input[type="range"]#price::-webkit-slider-thumb {
        background-color: #ffffff;
    }
    
    // Filter Account Size
    input[type="range"]#accountSizeRange::-webkit-slider-runnable-track {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(0, 32, 51, 1) 75.96%);
    }
    /* Estilos para el control deslizante */
    input[type="range"]#accountSizeRange::-webkit-slider-thumb {
        background-color: #ffffff;
    }

    // Filter Profit Target
    input[type="range"]#profitTarget::-webkit-slider-runnable-track {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(55, 142, 119, 1) 75.96%);
    }
    /* Estilos para el control deslizante */
    input[type="range"]#profitTarget::-webkit-slider-thumb {
        background-color: #ffffff;
    }
    /* Estilos para la barra de desplazamiento (Filtro Precio) */
    input[type="range"]#overall::-webkit-slider-runnable-track {
        background: linear-gradient(90deg, rgba(55, 142, 119, 1) 0%, rgba(0, 32, 51, 1) 65.96%);
    }
    /* Estilos para el control deslizante */
    input[type="range"]#overall::-webkit-slider-thumb {
        background-color: #ffffff;
    }

    .range-values {
        display: flex;
        justify-content: space-between;
        margin-top: 0px;
        color: #fff;
        font-size: .7em;
    }
}

.thead-pers{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.21) 0%, #002033 65.96%);
    overflow-x: auto;
}

.col-9 {
    margin-left: 25%;
}

@media screen and (max-width: 1260px) {
    .content-table {
        box-shadow: inset -40px -4px 20px 0px rgba(254, 254, 254, 0.449);
    }
}