<div id="home" class="container-fluid">
    <!-- Filtros -->
    <div class="row">

        <div class="p-0 col-3 vh-100">
            <div class="cont-search">
                <button class="btn-search">Save research</button>
            </div>

            <div class="filters">
                <!-- Búsqueda -->
                <div class="filter-group">
                    <label class="text-white" for="search">Search:</label>
                    <div class="input-group align-items-center">
                        <i class="fas fa-search"></i>
                        <input type="text" id="search" [(ngModel)]="searchTerm" (input)="applyFilters()"
                            class="form-control" placeholder="Search...">
                    </div>
                </div>  

                <!-- Asset Type -->
                <div class="filter-group">
                    <label for="assetType">Asset Type:</label>
                    <select class="form-select form-select-lg mb-3" aria-label="Large select example" id="assetType"
                        [(ngModel)]="selectedAssetType" (change)="applyFilters()">
                        <option disabled selected>Select</option>
                        <option value="forex">Forex</option>
                        <option value="futures">Futures</option>
                        <option value="stocks">Stocks</option>
                    </select>
                </div>
                <!-- Account Size -->
                <div class="filter-group">
                    <label for="accountSize">Account Size:</label>
                    <select class="form-select form-select-lg mb-3" aria-label="Large select example" id="accountSize"
                        [(ngModel)]="selectedAccountSize" (change)="applyFilters()">
                        <option disabled selected>Select</option>
                        <option value="5000">$5,000</option>
                        <option value="10000">$10,000</option>
                        <option value="50000">$50,000</option>
                        <option value="100000">$100,000</option>
                        <option value="200000">$200,000</option>
                    </select>
                </div>
                <!-- Price -->
                <div class="filter-group">
                    <label for="price">Price $:</label>
                    <input type="range" id="price" min="0" max="200000" [(ngModel)]="selectedPrice"
                        (change)="applyFilters()" class="form-range">
                    <div class="range-values">
                        <span id="start-value">{{selectedPrice}}</span>
                        <span id="end-value">$ 200.000</span>
                    </div>
                </div>
                <!-- Account Size Range -->
                <div class="filter-group">
                    <label for="accountSizeRange">Account Size:</label>
                    <input type="range" id="accountSizeRange" min="0" max="200000"
                        [(ngModel)]="selectedAccountSizeRange" (change)="applyFilters()" class="form-range">
                        <div class="range-values">
                            <span id="start-value">{{selectedAccountSizeRange}}</span>
                            <span id="end-value">$ 200.000</span>
                        </div>
                </div>
                <!-- Profit Target % (Combined) -->
                <div class="filter-group">
                    <label for="profitTarget">Profit Target % (Combined)</label>
                    <input type="range" id="profitTarget" min="0" max="200000"
                        [(ngModel)]="selectedprofitTarget" (change)="applyFilters()" class="form-range">
                        <div class="range-values">
                            <span id="start-value">{{selectedprofitTarget}}</span>
                            <span id="end-value">$ 200.000</span>
                        </div>
                </div>
                <!-- Brokers -->
                <div class="filter-group">
                    <label for="brokers">Brokers:</label>
                    <select class="form-select form-select-lg mb-3" aria-label="Select Broker" id="brokers"
                        [(ngModel)]="selectedBroker" (change)="applyFilters()">
                        <option selected>Open this select menu</option>
                        <option disabled selected>Select</option>
                        <option value="broker1">Broker 1</option>
                        <option value="broker2">Broker 2</option>
                        <option value="broker3">Broker 3</option>
                        <option value="broker4">Broker 4</option>
                    </select>
                </div>
                <!-- Platforms -->
                <div class="filter-group">
                    <label for="brokers">Brokers:</label>
                    <select class="form-select form-select-lg mb-3" aria-label="Select Broker" id="brokers"
                        [(ngModel)]="selectedPlatform" (change)="applyFilters()">
                        <option selected>Open this select menu</option>
                        <option disabled selected>Select</option>
                        <option value="broker1">Broker 1</option>
                        <option value="broker2">Broker 2</option>
                        <option value="broker3">Broker 3</option>
                        <option value="broker4">Broker 4</option>
                    </select>
                </div>

            </div>
        </div>
        <div class="col-9">
            <!-- Tabla -->
            <div class="content-table m-3">
                <table>
                    <thead class="thead-pers">
                        <tr>
                            <th>Firm</th>
                            <th>Price</th>
                            <th>Account Size</th>
                            <th>Profit Target</th>
                            <th>Max. Daily Loss</th>
                            <th>Max. Total Drawdown</th>
                            <th>Daily Drowdown Reset Type</th>
                            <th>Commission per Round Lot (Forex)</th>
                            <th>Technology</th>
                            <th>Profit Target to Drawdown Ratio</th>
                            <th>Payout Frequency</th>
                            <th>Trust Pilot Rating</th>
                            <th>Year Established & Country</th>
                            <th>Loyalty Points</th>
                            <th>Buy</th>
                        </tr>
                    </thead>
                    <tbody class="tbody-custom">
                        <tr *ngFor="let data of tableData">
                            <td><img src="{{ data.firmImg }}" alt="{{data.firm}}">
                                <p>{{data.firm}}</p>
                            </td>
                            <td>{{ data.price }}</td>
                            <td>{{ data.accountSize }}</td>
                            <td>{{ data.profitTarget }}</td>
                            <td>{{ data.maxDailyLoss }}</td>
                            <td>{{ data.maxTotalDrawdown }}</td>
                            <td>{{ data.dailyDrowdownResetType }}</td>
                            <td>{{ data.commissionPerRoundLot }}</td>
                            <td>{{ data.technology }}</td>
                            <td>{{ data.profitTargetToDrawdownRatio }}</td>
                            <td>{{ data.payoutFrequency }}</td>
                            <td>{{ data.trustPilotRating }}</td>
                            <td>{{ data.yearEstablishedAndCountry }}</td>
                            <td>{{ data.loyaltyPoints }}</td>
                            <td><a href="{{ data.buy }}">Buy</a></td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
</div>