<section id="review">
  <div class="container-flex title">
    <h1>Reviews</h1>
  </div>
  <!-- Search -->
  <div class="container-fluid bg-glass">
    <div class="container">
      <app-bar-search [homePage]="false" [labelText]="'Search prop firm'" />
    </div>
  </div>

  <!-- Results -->
  <div class="container d-flex mb-3">
    <div class="col">
      <span class="text-white">1-20 OF 34 results</span>
    </div>
    <div class="col d-flex justify-content-end align-items-center ">
      <span class="text-white me-3">Order by</span>
      <div class="dropdown">
        <a class="btn btn-transparent border border-light text-white dropdown-toggle" href="#" role="button"
          id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          Relevant
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="#">from 5 stars</a></li>
          <li><a class="dropdown-item" href="#">from 4 stars</a></li>
          <li><a class="dropdown-item" href="#">from 3-1 stars</a></li>
          <li><a class="dropdown-item" href="#">From A - Z</a></li>
          <li><a class="dropdown-item" href="#">From Z - A</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Broker review-->
  <div class="container bg-reviewBroker">
    <div class="review-card">
      <div class="row no-gutters">
        <div class="col-md-1 d-flex justify-content-center flex-column">
          <img src="assets/img/reviews/ranking52x52.png" alt="Firm Logo" class="firm-logo">
        </div>
        <div class="col-md-11 info-block d-flex align-items-center">
          <div class="col-md-4">
            <div class="header">
              <h2 class="firm-name">FTMO</h2>
              <div class="stars">
                <span class="single-stars">&#9733;</span>
                <span class="single-stars">&#9733;</span>
                <span class="single-stars">&#9733;</span>
                <span class="single-stars">&#9733;</span>
                <span class="single-stars">&#9733;</span>
                <span class="trustScore ms-2">TrustScore 4,8 | 23.969 Reviews</span>
              </div>
              <p class="address"><i class="fa-solid fa-location-dot"></i> Dubai, United Arab Emirates</p>
            </div>
          </div>
          <div class="col-md-8 d-flex flex-row-reverse">
            <div class="description">
              <div class="d-inline-block pe-4">
                <p>Share experience</p>
              </div>
              <div class="actions d-inline-block">
                <button class="btn btn-like"><i class="fa-regular fa-thumbs-up"></i> 100</button>
                <button class="btn btn-sad"><i class="fa-regular fa-face-frown"></i> 22</button>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="accordion" id="accordion">
      <div class="accordion-item">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          <span class="text-end w-100 me-3">Last reviews</span>
        </button>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
          data-bs-parent="#accordion">
          <div class="accordion-body d-flex">
            <!-- Reviews -->
            <div class="accordion-item-info col-md-3">
              <span class="time">12 minutes ago</span>
              <div class="col pt-2 pb-2">
                <div class="d-flex align-items-center">
                  <span class="user-initials me-2">AA</span>
                  <div class="stars">
                    <span class="single-stars">&#9733;</span>
                    <span class="single-stars">&#9733;</span>
                    <span class="single-stars">&#9733;</span>
                    <span class="single-stars">&#9733;</span>
                    <span class="single-stars">&#9733;</span>
                  </div>
                </div>
              </div>
              <span class="text-white pt-2">Lorem ipsum dolor sit amet consectetur. Fermentum platea arcu odio gravida netus ipsum sagittis id odio.</span>
            </div>            <div class="accordion-item-info col-md-3">
              <span class="time">12 minutes ago</span>
              <div class="col pt-2 pb-2">
                <div class="d-flex align-items-center">
                  <span class="user-initials me-2">AA</span>
                  <div class="stars">
                    <span class="single-stars">&#9733;</span>
                    <span class="single-stars">&#9733;</span>
                    <span class="single-stars">&#9733;</span>
                    <span class="single-stars">&#9733;</span>
                    <span class="single-stars">&#9733;</span>
                  </div>
                </div>
              </div>
              <span class="text-white pt-2">Lorem ipsum dolor sit amet consectetur. Fermentum platea arcu odio gravida netus ipsum sagittis id odio.</span>
            </div>
            <div class="accordion-item-info col-md-3">
              <span class="time">12 minutes ago</span>
              <div class="col pt-2 pb-2">
                <div class="d-flex align-items-center">
                  <span class="user-initials me-2">AA</span>
                  <div class="stars">
                    <span class="single-stars">&#9733;</span>
                    <span class="single-stars">&#9733;</span>
                    <span class="single-stars">&#9733;</span>
                    <span class="single-stars">&#9733;</span>
                    <span class="single-stars">&#9733;</span>
                  </div>
                </div>
              </div>
              <span class="text-white pt-2">Lorem ipsum dolor sit amet consectetur. Fermentum platea arcu odio gravida netus ipsum sagittis id odio.</span>
            </div>
            <div class="accordion-item-info col-md-3">
              <span class="time">12 minutes ago</span>
              <div class="col pt-2 pb-2">
                <div class="d-flex align-items-center">
                  <span class="user-initials me-2">AA</span>
                  <div class="stars">
                    <span class="single-stars">&#9733;</span>
                    <span class="single-stars">&#9733;</span>
                    <span class="single-stars">&#9733;</span>
                    <span class="single-stars">&#9733;</span>
                    <span class="single-stars">&#9733;</span>
                  </div>
                </div>
              </div>
              <span class="text-white pt-2">Lorem ipsum dolor sit amet consectetur. Fermentum platea arcu odio gravida netus ipsum sagittis id odio.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>