<section id="brokerReview">
    <div class="container-flex title">
        <img src="/assets/img/reviews/ranking52x52.png" alt="" width="100px">
        <p class="reviewDescription">Comprehensive Review and Analysis of </p>
        <h1 class="titlePropfirm">Funding Traders</h1>

        <div class="trust">
            <p class="totalReview">24.014 Reviews  •  Excellent</p>
            <div class="stars">
                <span class="single-stars">&#9733;</span>
                <span class="single-stars">&#9733;</span>
                <span class="single-stars">&#9733;</span>
                <span class="single-stars">&#9733;</span>
                <span class="single-stars">&#9733;</span>
                <span class="trustScore ms-2"> 4,8 </span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col m-2 pros">
                <h3>Pros</h3>
                <p><i class="fa-solid fa-check"></i>&nbsp; Real accounts</p>
                <p><i class="fa-solid fa-check"></i>&nbsp; Excellent Trustpilot rating of 4.8/5</p>
                <p><i class="fa-solid fa-check"></i>&nbsp; Up to $4,000,000 funded account</p>
                <p><i class="fa-solid fa-check"></i>&nbsp; Bootcamp 50% profit share up to 100%</p>
                <p><i class="fa-solid fa-check"></i>&nbsp; Instant funding</p>
                <p><i class="fa-solid fa-check"></i>&nbsp; Unlimited time period of High Stake Challenge</p>
                <p><i class="fa-solid fa-check"></i>&nbsp; Low-entry cost Bootcamp challenge</p>
                <p><i class="fa-solid fa-check"></i>&nbsp; Traders community</p>
                <p><i class="fa-solid fa-check"></i>&nbsp; Real accounts</p>

            </div>
            <div class="col m-2 cons">
                <h3>Const</h3>
                <p><i class="fa-solid fa-xmark"></i>&nbsp; Low leverage 1:10 & 1:30</p>
                <p><i class="fa-solid fa-xmark"></i>&nbsp; Low leverage 1:10 & 1:30</p>
            </div>
        </div>
    </div>
    <div class="content pt-4">
        <p>Lorem ipsum dolor sit amet consectetur. Arcu habitant quam malesuada consequat id id amet at lorem. Imperdiet tristique interdum euismod non. Magna enim et cursus consectetur risus a. Nunc dictum blandit lacus eget vestibulum a erat malesuada. Euismod integer vulputate massa at integer pretium pellentesque fusce mauris. Faucibus at et leo morbi id odio vivamus felis. Odio mauris non elementum pharetra.</p>
        <p>Faucibus eget porttitor ac morbi orci in. Aliquet nisl aliquam arcu proin gravida sit netus massa. Laoreet consequat diam volutpat magnis vulputate hendrerit blandit vitae at. Sapien accumsan aliquet viverra nunc ut. Risus diam molestie ipsum quam imperdiet ut in mauris id. Auctor ut nisi risus eget turpis volutpat.</p>
        
        <h2>Who are Funding Traders?</h2>
        <p>Lorem ipsum dolor sit amet consectetur. Arcu habitant quam malesuada consequat id id amet at lorem. Imperdiet tristique interdum euismod non. Magna enim et cursus consectetur risus a. Nunc dictum blandit lacus eget vestibulum a erat malesuada. Euismod integer vulputate massa at integer pretium pellentesque fusce mauris. Faucibus at et leo morbi id odio vivamus felis. Odio mauris non elementum pharetra.</p>
        <p>Faucibus eget porttitor ac morbi orci in. Aliquet nisl aliquam arcu proin gravida sit netus massa. Laoreet consequat diam volutpat magnis vulputate hendrerit blandit vitae at. Sapien accumsan aliquet viverra nunc ut. Risus diam molestie ipsum quam imperdiet ut in mauris id. Auctor ut nisi risus eget turpis volutpat.</p>
        <img class="w-100 mt-3 mb-3" src="/assets/img/reviews/Frame258.png" alt="broker1">
        
        <p>Lorem ipsum dolor sit amet consectetur. Arcu habitant quam malesuada consequat id id amet at lorem. Imperdiet tristique interdum euismod non. Magna enim et cursus consectetur risus a. Nunc dictum blandit lacus eget vestibulum a erat malesuada. Euismod integer vulputate massa at integer pretium pellentesque fusce mauris. Faucibus at et leo morbi id odio vivamus felis. Odio mauris non elementum pharetra.</p>
        <p>Faucibus eget porttitor ac morbi orci in. Aliquet nisl aliquam arcu proin gravida sit netus massa. Laoreet consequat diam volutpat magnis vulputate hendrerit blandit vitae at. Sapien accumsan aliquet viverra nunc ut. Risus diam molestie ipsum quam imperdiet ut in mauris id. Auctor ut nisi risus eget turpis volutpat.</p>
        <div class="container w-100 p-0">
            <div class="row">
                <div class="col mt-3 mb-3">
                    <img class="w-100" src="/assets/img/reviews/Frame258.png" alt="broker1">
                </div>
                <div class="col mt-3 mb-3">
                    <img class="w-100" src="/assets/img/reviews/Frame258.png" alt="broker1">
                </div>
            </div>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur. Arcu habitant quam malesuada consequat id id amet at lorem. Imperdiet tristique interdum euismod non. Magna enim et cursus consectetur risus a. Nunc dictum blandit lacus eget vestibulum a erat malesuada. Euismod integer vulputate massa at integer pretium pellentesque fusce mauris. Faucibus at et leo morbi id odio vivamus felis. Odio mauris non elementum pharetra.</p>
    
    
        <h2>Title here</h2>
        <p>Lorem ipsum dolor sit amet consectetur. Arcu habitant quam malesuada consequat id id amet at lorem. Imperdiet tristique interdum euismod non. Magna enim et cursus consectetur risus a. Nunc dictum blandit lacus eget vestibulum a erat malesuada. Euismod integer vulputate massa at integer pretium pellentesque fusce mauris. Faucibus at et leo morbi id odio vivamus felis. Odio mauris non elementum pharetra.</p>
        <ul class="lh-lg">
            <li class="text-white">Lorem ipsum dolor sit amet consectetur. Arcu habitant quam malesuada consequat id id amet at lorem.</li>
            <li class="text-white">Imperdiet tristique interdum euismod non. Magna enim et cursus consectetur risus a. </li>
            <li class="text-white">Nunc dictum blandit lacus eget vestibulum a erat malesuada.</li>
            <li class="text-white">Euismod integer vulputate massa at integer pretium pellentesque fusce mauris.</li>
            <li class="text-white">Faucibus at et leo morbi id odio vivamus felis. Odio mauris non elementum pharetra.</li>
        </ul>
        <img class="w-100 mt-3 mb-3" src="/assets/img/reviews/frame259.png" alt="broker1">
    </div>
</section>