// Variables
$font-family: 'Poppins', sans-serif;
$font-size: 14px;

// Colores
$primary-color: #002033;
$secondary-color: #00AF81;
$dark-color: #010A09;
$light-color: #004D52;
$gradient-start: rgba(255, 255, 255, 0.5);
$gradient-end: rgba(23, 199, 162, 1);
$radial-start: #297F6D;
$radial-end: #0F664F;
